.popup{
    position: absolute;
    left: calc(.25*var(--tile-size));
    right: 0;
    top: 0;
    bottom: calc(.25*var(--tile-size));

}

.popup-inner {
    width: 50%;
    min-height: 12.5%;
    background: var(--play-black);
    position: absolute;
    border: 8px solid var(--play-black);
    box-shadow: 0 0 0 8px var(--play-white);
}