.move-List{
    display: flex ;
    flex-direction: row;
    color: var(--play-white);
    flex: 1 1;
    flex-wrap: wrap;
    align-content: start;
    overflow: auto;
    font-size: 1.1rem;
}

.move-List div {
    flex-basis: 35%;
    padding-left: 15%;
    text-align: left;
    position: relative;
    padding-bottom: 5px;
}

.move-List div[data-number]:nth-child(odd)::before{
    content: attr(data-number);
    position: absolute;
    left: 0;
    opacity: 0.5;
}