.board {
    display: grid;
    position: relative;
    grid-template-columns: calc(.25*var(--tile-size)) calc(8*var(--tile-size));
}

.tile{
    display: grid;
    grid-template-columns: repeat(8,var(--tile-size));
    grid-template-rows: repeat(8,var(--tile-size));
    width: calc(8*var(--tile-size));
}


.liles{
    position: relative;
}

.black{
    background: var(--play-black);
}

.white{
    background: var(--play-white);
}

.highlight:after{
    content: '';
    display: block;
    position: absolute;
    width: calc(0.5*var(--tile-size));
    height: calc(0.5*var(--tile-size));
    background: yellowgreen;
    border-radius: 50%;
    left: 25%;
    top: 25%;

}


.attacking:after{
    content: '';
    display: block;
    position: absolute;
    width: calc(0.5*var(--tile-size));
    height: calc(0.5*var(--tile-size));
    background: red;
    border-radius: 50%;
    left: 25%;
    top: 25%;

}

.checked:after{
    content: '';
    display: block;
    position: absolute;
    width: var(--tile-size);
    height: var(--tile-size);
    background: red;
    border-radius: 20%;
    left: 0;
    top: 0;

}