@import './main.css';

html,body{
  margin: 0;
  padding: 0;
  
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  grid-template-columns: auto 220px;
}

button {
  background: var(--play-white);
  color: var(--play-black);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.2em;
}
